/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"); */
@import "./variables.css";

body {
  font-family: "Inter", sans-serif;
  color: var(--light-text);
  background-color: var(--black);
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  background-color: var(--black);
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  padding-bottom: 90px;
}

.nav {
  padding-top: 11px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.header_logoWrap {
  padding-right: 52px;
}

.header_navbar {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-right: 137px;
  font-size: 16px;
  font-weight: 500;
}

.header_logoText {
  color: #e4e5ea;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  padding-top: 10px;
  width: 165px;
}

.header_contacts {
  display: flex;
  align-items: center;
}

.header_number {
  font-size: 16px;
  font-weight: 500;
  padding-right: 47px;
}

.header_icon {
  padding-right: 30px;
  width: 20px;
}

.header_icon:last-child {
  padding-right: 0px;
}

/* main */

.main {
  display: flex;
  justify-content: space-between;
}

.info_title {
  font-size: 48px;
  font-weight: 400;
}

.info_title-bold {
  font-weight: 900;
  background-image: linear-gradient(to right, #fcb045, #ff3f78);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.info_text {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat;
  width: 275px;
}

.benefits_title {
  padding-bottom: 40px;
  text-align: right;
}

.benefits_title-dark {
  background-image: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.benefits_title-light {
  background-image: linear-gradient(to right, #fcb045 70%, #fd1d1d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.benefit_wrap {
  padding-bottom: 61px;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "widgets dashboard"
    "skype demo";
}

.dashboard {
  grid-area: dashboard;
}
.widgets {
  grid-area: widgets;
}
.skype {
  grid-area: skype;
}
.demo {
  grid-area: demo;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.benefit_title {
  font-size: 18px;
  font-weight: 500;
  font-family: Inter;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.benefit_text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
}

.btn {
  color: var(--light-text);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding: 21px 34px;
  background: #4077f3;
  margin-bottom: 69px;
  text-align: center;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.footer_main {
  display: flex;
}

.footer_title {
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer_about {
  padding-right: 98px;
}

.footer_aboutList {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 10px;
}

.footer_listItem {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.footer_menu {
  padding-right: 163px;
}

.footer_menuList {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 52px;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer_number,
.footer_icons {
  padding-bottom: 20px;
}

.footer_icons {
  gap: 10px;
}

.footer_icon {
  width: 20px;
}

.footer_address {
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.footer_rights {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  padding-top: 33px;
}

.footer_policy {
  color: inherit;
  text-decoration-line: underline;
}

.red-light {
  width: 311px;
  position: absolute;
  top: 251px;
}

.red-ball {
  position: absolute;
  top: 83px;
  left: 519px;
}

.people-light {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
}

.purple-ball {
  position: absolute;
  left: 868px;
}

.red-ball-small {
  width: 28px;
  position: absolute;
  top: 547px;
  left: 851px;
}

.benefit_wrap-mobile {
  display: none;
}

@media screen and (max-width: 320px) {
  .wrap {
    max-width: 320px;
  }

  .header_logoWrap,
  .header_contacts,
  .header_logoText {
    display: none;
  }

  .red-ball,
  .red-ball-small,
  .red-light,
  .people-light,
  .purple-ball {
    display: none;
  }

  .main,
  .footer_main {
    flex-direction: column;
  }

  .header_navbar {
    padding: 0;
    gap: 16px;
  }

  .header_navbarItem {
    font-size: 12px;
    text-transform: uppercase;
    line-height: normal;
  }

  .header_navbarItem:last-child {
    display: none;
  }

  .header {
    padding: 20px 16px;
  }

  .info_title {
    font-size: 36px;
    font-weight: 400;
  }

  .info_title-bold {
    font-size: 36px;
    font-weight: 900;
  }

  .info {
    padding-bottom: 45px;
  }

  .benefits_title {
    text-align: left;
  }

  .benefits_title-dark,
  .benefits_title-light {
    text-transform: none;
  }

  .benefit_wrap,
  .btn {
    display: none;
  }

  .benefit-mobile {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .benefit_line {
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  }

  .benefit_title-mobile {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.65px;
  }

  .benefit_wrap-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 14px;
    grid-template-areas:
      "skype widgets"
      "dashboard demo";
  }

  .skype-mobile {
    grid-area: skype;
  }
  .widgets-mobile {
    grid-area: widgets;
  }
  .dashboard-mobile {
    grid-area: dashboard;
  }
  .demo-mobile {
    grid-area: demo;
  }

  .main {
    padding: 40px 14px 55px 14px;
    background: url("../images/bg.png");
  }

  .nav {
    padding: 0;
  }

  .footer {
    padding: 45px 16px 60px 16px;
  }

  .footer_main {
    gap: 30px;
  }

  .footer_menu {
    padding-right: 0;
  }

  .footer_about {
    padding-right: 0;
  }

  .amount {
    order: 1;
  }

  .letters {
    order: 2;
  }

  .services {
    order: 3;
  }

  .cases {
    order: 4;
  }

  .widgets-footer {
    order: 5;
  }

  .sertificates {
    order: 6;
  }

  .integrations {
    order: 7;
  }

  .youtube {
    order: 8;
  }

  .clients {
    order: 9;
  }

  .faq {
    order: 10;
  }

  .footer_contacts {
    align-items: flex-start;
  }

  .footer_number {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
  }

  .footer_address {
    font-size: 14px;
    font-weight: 400;
  }

  .footer_icons {
    padding-bottom: 10px;
  }

  .footer_rights {
    padding-top: 50px;
  }
}
